<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://azf-crud-cosmosdb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0f76c1d4-29ee-4591-b3c9-746213f9a0c1/resourceGroups/Promotion202008/providers/Microsoft.Web/sites/azf-crud-cosmosdb</ResourceId>
    <UserName>$azf-crud-cosmosdb</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azf-crud-cosmosdb.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>